
.env
.DS_Store

1 Data Collection/0 Preliminary Reviews Number Check.ipynb
1 Data Collection/apps13_reviews_df.csv
1 Data Collection/group1_collection1_bc_unlabeled.csv
1 Data Collection/group1_collection2_pt_unlabeled.csv
1 Data Collection/group1_negative_reviews.csv
1 Data Collection/group1_samples (beforeRoe) - group1_collection1_bc_samples.csv
1 Data Collection/group1_samples (beforeRoe) - group1_collection2_pt_samples.csv
1 Data Collection/group1_samples.csv
1 Data Collection/group1_unlabeled_data.csv
1 Data Collection/group2_collection1_bc_unlabeled.csv
1 Data Collection/group2_collection2_pt_unlabeled.csv
1 Data Collection/group2_negative_reviews.csv
1 Data Collection/group2_samples (postRoe) - group2_collection1_bc_samples.csv
1 Data Collection/group2_samples (postRoe) - group2_collection2_pt_samples.csv
1 Data Collection/group2_samples.csv
1 Data Collection/group2_unlabeled_data.csv


2 Data Classification/Traditional ML Classification/bc_unlabeled_data_with_predictions.csv
2 Data Classification/Traditional ML Classification/pt_unlabeled_data_with_predictions.csv
2 Data Classification/Traditional ML Classification/combined_bc_tagged.csv
2 Data Classification/Traditional ML Classification/combined_pt_tagged.csv
2 Data Classification/Traditional ML Classification/combined_bc_unlabeled.csv
2 Data Classification/Traditional ML Classification/combined_pt_unlabeled.csv

2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/combined_bc_samples.csv
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/combined_pt_samples.csv
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/combined_bc_tagged.csv
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/combined_pt_tagged.csv
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/cachedir
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/bc_categorized_with_columns.csv
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/pt_categorized_with_columns.csv
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/bc_categorized.csv
2 Data Classification/OpenAI Classification/1 Classification Performance Evaluation/pt_categorized.csv

2 Data Classification/OpenAI Classification/2 OpenAI Classifier/c1_negative_reviews.csv
2 Data Classification/OpenAI Classification/2 OpenAI Classifier/c2_negative_reviews.csv
2 Data Classification/OpenAI Classification/2 OpenAI Classifier/c1_negative_reviews_categorized.csv
2 Data Classification/OpenAI Classification/2 OpenAI Classifier/c2_negative_reviews_categorized.csv

3 Data Analysis/monthly_growth_rates_c1.png
3 Data Analysis/monthly_growth_rates_c2.png
3 Data Analysis/user_concern_evolution_c1.png
3 Data Analysis/user_concern_evolution_c2.png

3 Data Analysis/bc_overturn_reviews.csv
3 Data Analysis/pt_overturn_reviews.csv

